<div class="mail-box">
    <h4 class="text-center mt-5">Object : <%= @email.object %></h4>
    <p class="text-center"><%= @email.body %></p>
    <div class="d-flex justify-content-around">
        <%= button_to "Supprimer", @email, class: "btn btn-danger", method: :delete, remote: true %>
        <%= button_to "Marquer comme lu", @email, class: "btn btn-success", method: :delete, data:{confirm: "Supprimer le mail?"} %>
    </div>
</div>